.container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1px 3fr;
  width: 700px;
}

.horizontal_divider {
  background-color: black;
}

@media screen and (max-width: 400px) {
  .container {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
