.conatiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title {
  font-size: var(--theme-font-size-title);
  font-weight: bold;
  margin-bottom: 0;
}
.conatiner ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.conatiner li {
  font-weight: 400;
  text-align: start;
}

.loading {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.loading div {
  width: 100%;
  height: 10px;
  margin: 5px 0;
  border-radius: 5px;
  opacity: 0.5;
}
