.input_container {
  display: flex;
  gap: 15px;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .input_container {
    flex-direction: column;
  }
}

.button_container {
  height: 30px;
  border: 2px solid var(--theme-colors-primary);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_container button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: var(--theme-font-size-number);
  cursor: pointer;
  width: 40px;
  color: var(--theme-colors-primary);
}
.button_container button:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

.button_container span {
  font-weight: bold;
}

.label {
  font-size: var(--theme-font-size-title);
  font-weight: 400;
}
