.btn {
  min-width: 100px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 400;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  background: var(--theme-colors-button);
}

.btn_outlined {
  border: 1px solid var(--theme-colors-primary);
  background: transparent;
  color: var(--theme-colors-primary);
}

.btn:disabled,
.btn_outlined:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn:hover:not(:disabled) {
  background: var(--theme-colors-button-hover);
  box-shadow: 2px 2px 5px 0px var(--theme-colors-box-shadow);
}

.btn_outlined:hover:not(:disabled) {
  background: transparent;
  box-shadow: 2px 2px 5px 0px var(--theme-colors-box-shadow);
}
