.btn {
  min-width: 100px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 400;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  background: linear-gradient(90deg, rgb(19, 72, 158) 0%, rgb(9, 85, 162) 100%);
}

.btn_outlined {
  border: 1px solid var(--theme-colors-primary);
  background: transparent;
}

.btn:disabled,
.btn_outlined:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn:hover:not(:disabled) {
  background: linear-gradient(
    90deg,
    rgb(15, 57, 124) 0%,
    rgb(10, 79, 147) 100%
  );
  /* box-shadow: 5px 5px 10px 0px rgba(6, 69, 9, 0.75); */
  box-shadow: 2px 2px 5px 0px var(--theme-colors-box-shadow);
}

.btn_outlined:hover:not(:disabled) {
  background: transparent;
  box-shadow: 2px 2px 5px 0px var(--theme-colors-box-shadow);
}
