.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 300px;
}

@media screen and (max-width: 400px) {
  .container {
    width: 100%;
  }
}

.inputs_container {
  width: 100%;
  text-align: start;
}

.submit_btn_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit_btn_container button {
  width: 100%;
}
