.theme_switch_btn {
  position: absolute;
  right: 40px;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: transparent;
  outline: none;
  border: 1px solid var(--theme-colors-primary);
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .theme_switch_btn {
    right: 10px;
    top: 10px;
  }
}
