.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.list_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

@media screen and (max-width: 400px) {
  .list_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.title {
  font-size: var(--theme-font-size-title);
  font-weight: bold;
  margin-bottom: 0;
}

.participant_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100px;
  padding: 0 5px;
  border: 1px solid var(--theme-colors-primary);
  border-radius: 2px;
}

.btn {
  display: inline;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: var(--theme-font-size-text);
  padding: 5px;
  color: var(--theme-colors-warning);
}

.btn:hover {
  color: var(--theme-colors-danger);
}
