html {
  background: var(--theme-colors-background);
}

body {
  text-align: center;
  font-family: var(--theme-font-family), cursive;
  font-weight: 300;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  height: 100%;
  color: var(--theme-colors-primary);
  background: var(--theme-colors-background-gradient);
}

.animated_shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #353535 4%, #2f2121 25%, #1b0808 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
