html {
  background: rgb(9, 121, 72);
}

body {
  text-align: center;
  font-family: "Poppins", cursive;
  font-weight: 300;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  height: 100%;
  color: black;
  background: linear-gradient(
    45deg,
    rgba(0, 131, 255, 1) 0%,
    rgba(9, 121, 72, 1) 100%
  );
}

.animated_shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #353535 4%, #2f2121 25%, #1b0808 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
